.metadata
.project
.settings
.classpath

Gemfile

# Idea noise
.idea
**/.idea
*.iml
*.ipr
*.iws

# Test coverage
coverage

# Ignore folders
node_modules
bower_components

# Ignore compiled files
target

